name: sanity

on:
  pull_request:
  push:
    branches:
      - main
  # schedule:
  #   - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  sanity_29:
    timeout-minutes: 60
    name: Sanity (Ⓐ$${{ matrix.ansible }})
    strategy:
      matrix:
        ansible:
          - stable-2.9
        python:
          - 3.8
    runs-on: ubuntu-latest
    steps:
      - name: Perform testing
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          origin-python-version: ${{ matrix.python }}
          target-python-version: ${{ matrix.python }}
          testing-type: sanity

  sanity:
    timeout-minutes: 30
    name: Sanity (Ⓐ$${{ matrix.ansible }})
    strategy:
      matrix:
        ansible:
          - stable-2.10
          - stable-2.11
          - stable-2.12
          - stable-2.13
        python:
          - 3.8
        # https://github.com/yaml/pyyaml/issues/601
        # include:
        #   - ansible: devel
        #     python: "3.10"
    runs-on: ubuntu-latest
    steps:
      - name: Perform testing
        uses: ansible-community/ansible-test-gh-action@release/v1
        with:
          ansible-core-version: ${{ matrix.ansible }}
          origin-python-version: ${{ matrix.python }}
          target-python-version: ${{ matrix.python }}
          testing-type: sanity
